/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: color: #3f5d7a; /* Background image for the entire body */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
}
/* style.css */

/* Adjust the max-height value as needed */
.slide-image {
    max-height: 100px; /* Set the maximum height for carousel images */
}


.container {
    margin-top: 2rem;
    padding: 1rem;
}

/* Header styles */
.header-container {
    background-color:color(srgb rgb(121, 97, 97) rgb(38, 160, 38) rgb(198, 198, 219)) /* Header image */
    background-size: cover;
    background-repeat: repeat;
    padding: 3rem;
    text-align: center;
}

.header-container img {
    max-width: 150px;
    height: auto;
}

.header-container h1 {
    color: #3f5d7a; /* Dark blue header text color */
}

/* Blog section styles */
#blog {
    margin-top: 2rem;
}

/* Footer styles */
footer {
    background-color: #ebe4e8; /* Green background color */
    color: #8d0d0d; /* White text color */
    padding: 1rem;
    text-align: center;
}
