/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('img/2017.jpg'); /* Background image for the entire body */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
}
/* style.css */

/* Adjust the max-height value as needed */
.slide-image {
    max-height: 100px; /* Set the maximum height for carousel images */
}


.container {
    margin-top: 2rem;
    padding: 1rem;
}

/* Header styles */
.header-container {
    background-image: url('img/360_F_568631153_ygTLlsjLeVtMrGDSUbqia6VD2GsdbHJx.jpg'); /* Header image */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    text-align: center;
}

.header-container img {
    max-width: 150px;
    height: auto;
}

.header-container h1 {
    color: #0066cc; /* Dark blue header text color */
}

/* Blog section styles */
#blog {
    margin-top: 2rem;
}

/* Footer styles */
footer {
    background-color: #28a745; /* Green background color */
    color: #ffffff; /* White text color */
    padding: 1rem;
    text-align: center;
}
